<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.instagram.notifier</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ashutoshpatkar/instadm/venv/bin/python</string>
        <string>/Users/ashutoshpatkar/instadm/main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/ashutoshpatkar/instadm</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/ig_notifier.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/ig_notifier.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

</dict>
</plist>

